.bingoBlock 
  width: 50px;
  height: 50px;
  border: solid 1px black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  cursor: pointer;
  background-color: #efefef
  &:hover
      filter: brightness(90%)

#root 
  margin-top: 50px;
  margin-left: 50px;

.bingoBoard
    display: inline-block
    margin: 20px
    filter: brightness(70%)

.bingoPlayerTurn
    filter: inherit

.bingoClick
    filter: brightness(50%)
    cursor: default;
    &:hover
        filter: brightness(50%)

.bingoRow 
  display: flex;
  flex-direction: row;
